:root{
  --body-bg:#F2F2F2;
  --button-color-orang:#FA5959;
  --text-color:#242A45;
  --button-blu:#5267DF;
  --button-bg:#F7F7F7;
}
/* GLOBAL */
html{
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing:inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family:'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color:var(--body-bg);
  color: #222;
}
img{
  max-width: 100%;
  height: auto;
}
/* CONTAINER */
.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 48px;
  padding-right: 48px;
  margin: auto;
}
/* MAI-CONTANENT */
.main-content{
  flex-grow: 1;
}

/* HEADER */
.sait-header {
}
.sait-header__container {
  width: 100%;
  padding-top:48px;
}
.sait-header-navbar{
  display: flex;
}
.sait-header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 149px;
  height: 25px;
}
.sait__nav {
  margin-left: auto;
}
.sait__list {
  display: flex;
  list-style: none;
}
.sait__item {
}
.sait__item:not(:last-child){
  margin-right: 45px;
}
.button {
  padding: 12px 32px;
  border: none;
  background:var(--button-color-orang);
  color: #fff;
}
.saitnav-button {
  margin-left: 48px;
}